  <section class="d-flex flex-column flex-lg-row header align-items-end align-items-lg-stretch pt-5 justify-content-evenly">
    <div class="food-top"></div>
    <div class="col-11 col-md-10 col-lg-6 d-flex flex-column align-items-center my-md-auto ml-auto my-lg-auto p-xl-4">
      <div class="box">
        <div class="title">
          <span class="block">j</span>
          <h1><span style="color: #ffd618;">Le Favorite  </span> Dish</h1>
        </div>
        <div class="title">
          <span class="block"></span>
        </div>
        <div class="line">
          <!--                    <span class="block"></span>-->
          <h1 class="mx-1"></h1>
        </div>
        <div class="role">
          <span class="block">jj</span>
          <p>A taste of home</p>
        </div>


      </div>
      <button type="button" class="btn btn-warning my-lg-5">Get Your Food Now!..</button>
    </div>
    <div class="col-12 col-md-12 col-lg-6 d-flex flex-column align-items-center justify-content-end justify-content-lg-evenly">
      <div class="col-8 col-md-8 d-flex flex-column align-items-center justify-content-end">
        <div class="col-12">
          <img src="../../assets/throw.svg" alt="cooking image" class="w-100">
        </div>
<!--        <div id="smo" class="hi col-md-4 overflow-hidden mx-auto position-absolute h-50 bg-dark"></div>-->
      </div>
      <ul class="w-100 my-3 mb-md-5 px-0 d-flex ">
        <li class="col-4 col-md-3 "></li>
        <li class="col-4 col-md-3 "></li>
        <li class="col-4 col-md-3 "></li>
        <li class="col-4 col-md-3 "></li>
      </ul>
    </div>
  </section>
