<section class="our-menu d-flex flex-column justify-content-end ">
  <section id="break_fast" class="">
    <section class="triangle left">
      <div class="mobile"></div>
      <div class="row mx-0 mb-auto h-50 not-mobile">
        <div class="col-md-6 col-lg-3  position-absolute intro-card">
          <div class="row mx-0">
            <div class="col-md-5 px-0">
              <div class="pt-3">
                <h1 class="header">Le Favorite Dish</h1>
                <div class="sub-head">
                  <p class="mb-0 pt-2">BREAK FAST</p>
                  <hr class="mt-0">
                </div>
                <div style="">
                  <p class="mb-0 font-weight-bold">FOR INQUIRES </p>
                  <p class="m-0">0716 729 344</p>
                  <p>0716 729 344</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2"></div>
        <div class="col-md-9 col-lg-9">
          <h2 class="my-5 header text-center text-decoration-underline"
              style="text-underline-position: under; font-weight: 800;color: #ffd618">Our Menu</h2>
          <div class="row mx-0 justify-content-evenly">
            <div class="col-md-5 col-lg-3">
              <h5 class="px-2" style="color: #ffd618">
                BREAK FAST &nbsp; &nbsp; &nbsp;
              </h5>
              <hr class="mt-0" style="border: 1px solid #ffd618">
              <div class="text-white">
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
              </div>

            </div>
            <div class="col-md-5 col-lg-3">
              <h5 class="px-2" style="color: #ffd618">
                BREAK FAST &nbsp; &nbsp; &nbsp;
              </h5>
              <hr class="mt-0" style="border: 1px solid #ffd618">
              <div class="text-white">
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-0 mt-auto h-50 not-mobile">
        <div class="col-md-8 col-lg-9 mt-5 mx-0 row">
          <div class="col-md-6 col-lg-3">
            <h5 class="px-2" style="color: #ffd618">
              DRINKS &nbsp; &nbsp; &nbsp;
            </h5>
            <hr class="mt-0" style="border: 1px solid #ffd618">
            <div class="text-white">
              <p class="row mx-0">
                <span class="col-8">Soda</span>
                <span class="col-4">600/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Maji </span>
                <span class="col-4">600/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Juice</span>
                <span class="col-4">1000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Maziwa Fresh</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Maziwa Mtindi</span>
                <span class="col-4">3000/=</span>
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 col-lg-2 intro-card-image"></div>
      </div>
    </section>
    <section class="triangle right">
      <div class="mobile"></div>

      <div class="row mx-0 mb-auto h-50 not-mobile">
        <div class="col-md-6 col-lg-3  position-absolute intro-card">
          <div class="row mx-0">
            <div class="col-md-5 px-0">
              <div class="pt-3">
                <h1 class="header">Le Favorite Dish</h1>
                <div class="sub-head">
                  <p class="mb-0 pt-2">BREAK FAST</p>
                  <hr class="mt-0">
                </div>
                <div style="">
                  <p class="mb-0 font-weight-bold">FOR INQUIRES </p>
                  <p class="m-0">0716 729 344</p>
                  <p>0716 729 344</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-lg-2"></div>
        <div class="col-md-9 col-lg-9">
          <h2 class="my-5 header text-center text-decoration-underline"
              style="text-underline-position: under; font-weight: 800;color: #ffd618">Our Menu</h2>
          <div class="row mx-0 justify-content-evenly">
            <div class="col-md-5 col-lg-3">
              <h5 class="px-2" style="color: #ffd618">
                BREAK FAST &nbsp; &nbsp; &nbsp;
              </h5>
              <hr class="mt-0" style="border: 1px solid #ffd618">
              <div class="text-white">
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
              </div>

            </div>
            <div class="col-md-5 col-lg-3">
              <h5 class="px-2" style="color: #ffd618">
                BREAK FAST &nbsp; &nbsp; &nbsp;
              </h5>
              <hr class="mt-0" style="border: 1px solid #ffd618">
              <div class="text-white">
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
                <p class="row mx-0">
                  <span class="col-8">Wali Samaki</span>
                  <span class="col-4">3000/=</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mx-0 mt-auto h-50 not-mobile">
        <div class="col-md-8 col-lg-9 mt-5 mx-0 row">
          <div class="col-md-6 col-lg-3">
            <h5 class="px-2" style="color: #ffd618">
              DRINKS &nbsp; &nbsp; &nbsp;
            </h5>
            <hr class="mt-0" style="border: 1px solid #ffd618">
            <div class="text-white">
              <p class="row mx-0">
                <span class="col-8">Soda</span>
                <span class="col-4">600/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Maji </span>
                <span class="col-4">600/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Juice</span>
                <span class="col-4">1000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Maziwa Fresh</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Maziwa Mtindi</span>
                <span class="col-4">3000/=</span>
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-4 col-lg-2 intro-card-image"></div>
      </div>
    </section>
  </section>
  <section id="lunch" class="position-absolute">
    <div class="mobile"></div>
    <div class="row mx-0 mb-auto h-50 not-mobile">
      <div class="col-md-6 col-lg-3  position-absolute intro-card">
        <div class="row mx-0">
          <div class="col-md-5 px-0">
            <div class="pt-3">
              <h1 class="header">Le Favorite Dish</h1>
              <div class="sub-head">
                <p class="mb-0 pt-2">WEEKLY LUNCH</p>
                <hr class="mt-0">
              </div>
              <div style="">
                <p class="mb-0 font-weight-bold">FOR INQUIRES </p>
                <p class="m-0">0716 729 344</p>
                <p>0716 729 344</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-2"></div>
      <div class="col-md-9 col-lg-9">
        <h2 class="my-5 header text-center text-decoration-underline"
            style="text-underline-position: under; font-weight: 800;color: #ffd618">Our Menu</h2>
        <div class="row mx-0 justify-content-evenly">
          <div class="col-md-5 col-lg-3">
            <h5 class="px-2" style="color: #ffd618">
              FOOD MENU &nbsp; &nbsp; &nbsp;
            </h5>
            <hr class="mt-0" style="border: 1px solid #ffd618">
            <div class="text-white">
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
            </div>

          </div>
          <div class="col-md-5 col-lg-3">
            <h5 class="px-2" style="color: #ffd618">
              FOOD MENU &nbsp; &nbsp; &nbsp;
            </h5>
            <hr class="mt-0" style="border: 1px solid #ffd618">
            <div class="text-white">
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
              <p class="row mx-0">
                <span class="col-8">Wali Samaki</span>
                <span class="col-4">3000/=</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-0 mt-auto h-50 not-mobile">
      <div class="col-md-8 col-lg-9 mt-5 mx-0 row">
        <div class="col-md-6 col-lg-3">
          <h5 class="px-2" style="color: #ffd618">
            DRINKS &nbsp; &nbsp; &nbsp;
          </h5>
          <hr class="mt-0" style="border: 1px solid #ffd618">
          <div class="text-white">
            <p class="row mx-0">
              <span class="col-8">Soda</span>
              <span class="col-4">600/=</span>
            </p>
            <p class="row mx-0">
              <span class="col-8">Maji </span>
              <span class="col-4">600/=</span>
            </p>
            <p class="row mx-0">
              <span class="col-8">Juice</span>
              <span class="col-4">1000/=</span>
            </p>
            <p class="row mx-0">
              <span class="col-8">Maziwa Fresh</span>
              <span class="col-4">3000/=</span>
            </p>
            <p class="row mx-0">
              <span class="col-8">Maziwa Mtindi</span>
              <span class="col-4">3000/=</span>
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-lg-2 intro-card-image" style="background: #ffd618 url('../../assets/lunch.jpg') center no-repeat;">
      </div>
    </div>
  </section>
  <div class="mx-0 d-flex justify-content-evenly justify-content-sm-center  w-100 menu-link position-absolute"
       style="margin-top: -25px;z-index: 1000">
    <a id="break_fast_menu" class=" mx-sm-5 header h3 active ">Break fast</a>
    <a id="lunch_menu" class="col-1 header h3 ">Lunch</a>
  </div>
</section>
